<!DOCTYPE html>

<html lang="en">
	<head>

		<!-- <link rel="stylesheet" type="text/css" href="styles.css"/> -->

		<link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>

		<!-- <style type="text/css">
			#bigTitle {
				border: 1px solid red;
			}
		</style> -->

		<title>
			RoasterToasters!
		</title>

	</head>

	<body>

		{% block content %}

		<div id="bigTitle">
			<p>
				ROASTERTOASTERS
			</p>
		</div>	

		<div id="roosterTable">
			<table>
				<tr>
					<th></th>
					<th>Monday</th>
					<th>Tuesday</th>
					<th>Wednesday</th>
					<th>Thursday</th>
					<th>Friday</th>
				</tr>
				<tr>
					<td>9:00 - 11:00</td>
					<td>
						<div class = "tableInside">
							<table>
								{# {% for i in range(1) %}
								<tr><td>{{ coursePrint.room }}</td><td>{{ coursePrint }}</td></tr>
								{% endfor %} #}
								<tr><td>A1.04</td><td>Lineaire Algebra</td></tr>
								<tr><td>A1.06</td><td>Lineaire Algebra</td></tr>
								<tr><td>A1.08</td><td>Lineaire Algebra</td></tr>
								<tr><td>A1.10</td><td>Lineaire Algebra</td></tr>
								<tr><td>B0.201</td><td>Lineaire Algebra</td></tr>
								<tr><td>C0.110</td><td>Lineaire Algebra</td></tr>
								<tr><td>C1.112</td><td>Lineaire Algebra</td></tr>
							</table>
						</div>
					</td>
					<td>
						<div class = "tableInside">
							<table>
								<tr><td>A1.04</td><td>Lineaire Algebra</td></tr>
								<tr><td>A1.06</td><td>Lineaire Algebra</td></tr>
								<tr><td>A1.08</td><td>Lineaire Algebra</td></tr>
								<tr><td>A1.10</td><td>Lineaire Algebra</td></tr>
								<tr><td>B0.201</td><td>Lineaire Algebra</td></tr>
								<tr><td>C0.110</td><td>Lineaire Algebra</td></tr>
								<tr><td>C1.112</td><td>Lineaire Algebra</td></tr>
							</table>
						</div>
					</td>
					<td>
						<div class = "tableInside">
							<table>
								<tr><td>A1.04</td><td>Lineaire Algebra</td></tr>
								<tr><td>A1.06</td><td>Lineaire Algebra</td></tr>
								<tr><td>A1.08</td><td>Lineaire Algebra</td></tr>
								<tr><td>A1.10</td><td>Lineaire Algebra</td></tr>
								<tr><td>B0.201</td><td>Lineaire Algebra</td></tr>
								<tr><td>C0.110</td><td>Lineaire Algebra</td></tr>
								<tr><td>C1.112</td><td>Lineaire Algebra</td></tr>
							</table>
						</div>
					</td>
					<td>
						<div class = "tableInside">
							<table>
								<tr><td>A1.04</td><td>Lineaire Algebra</td></tr>
								<tr><td>A1.06</td><td>Lineaire Algebra</td></tr>
								<tr><td>A1.08</td><td>Lineaire Algebra</td></tr>
								<tr><td>A1.10</td><td>Lineaire Algebra</td></tr>
								<tr><td>B0.201</td><td>Lineaire Algebra</td></tr>
								<tr><td>C0.110</td><td>Lineaire Algebra</td></tr>
								<tr><td>C1.112</td><td>Lineaire Algebra</td></tr>
							</table>
						</div>
					</td>
					<td>
						<div class = "tableInside">
							<table>
								<tr><td>A1.04</td><td>Lineaire Algebra</td></tr>
								<tr><td>A1.06</td><td>Lineaire Algebra</td></tr>
								<tr><td>A1.08</td><td>Lineaire Algebra</td></tr>
								<tr><td>A1.10</td><td>Lineaire Algebra</td></tr>
								<tr><td>B0.201</td><td>Lineaire Algebra</td></tr>
								<tr><td>C0.110</td><td>Lineaire Algebra</td></tr>
								<tr><td>C1.112</td><td>Lineaire Algebra</td></tr>
							</table>
						</div>
					</td>
				</tr>
				<tr>
					<td>11:00 - 13:00</td>
					<td>
						<div class = "tableInside">
							<table>
								<tr><td>A1.04</td><td>Lineaire Algebra</td></tr>
								<tr><td>A1.06</td><td>Lineaire Algebra</td></tr>
								<tr><td>A1.08</td><td>Lineaire Algebra</td></tr>
								<tr><td>A1.10</td><td>Lineaire Algebra</td></tr>
								<tr><td>B0.201</td><td>Lineaire Algebra</td></tr>
								<tr><td>C0.110</td><td>Lineaire Algebra</td></tr>
								<tr><td>C1.112</td><td>Lineaire Algebra</td></tr>
							</table>
						</div>
					</td>
					<td>
						<div class = "tableInside">
							<table>
								<tr><td>A1.04</td><td>Lineaire Algebra</td></tr>
								<tr><td>A1.06</td><td>Lineaire Algebra</td></tr>
								<tr><td>A1.08</td><td>Lineaire Algebra</td></tr>
								<tr><td>A1.10</td><td>Lineaire Algebra</td></tr>
								<tr><td>B0.201</td><td>Lineaire Algebra</td></tr>
								<tr><td>C0.110</td><td>Lineaire Algebra</td></tr>
								<tr><td>C1.112</td><td>Lineaire Algebra</td></tr>
							</table>
						</div>
					</td>
					<td>
						<div class = "tableInside">
							<table>
								<tr><td>A1.04</td><td>Lineaire Algebra</td></tr>
								<tr><td>A1.06</td><td>Lineaire Algebra</td></tr>
								<tr><td>A1.08</td><td>Lineaire Algebra</td></tr>
								<tr><td>A1.10</td><td>Lineaire Algebra</td></tr>
								<tr><td>B0.201</td><td>Lineaire Algebra</td></tr>
								<tr><td>C0.110</td><td>Lineaire Algebra</td></tr>
								<tr><td>C1.112</td><td>Lineaire Algebra</td></tr>
							</table>
						</div>
					</td>
					<td>
						<div class = "tableInside">
							<table>
								<tr><td>A1.04</td><td>Lineaire Algebra</td></tr>
								<tr><td>A1.06</td><td>Lineaire Algebra</td></tr>
								<tr><td>A1.08</td><td>Lineaire Algebra</td></tr>
								<tr><td>A1.10</td><td>Lineaire Algebra</td></tr>
								<tr><td>B0.201</td><td>Lineaire Algebra</td></tr>
								<tr><td>C0.110</td><td>Lineaire Algebra</td></tr>
								<tr><td>C1.112</td><td>Lineaire Algebra</td></tr>
							</table>
						</div>
					</td>
					<td>
						<div class = "tableInside">
							<table>
								<tr><td>A1.04</td><td>Lineaire Algebra</td></tr>
								<tr><td>A1.06</td><td>Lineaire Algebra</td></tr>
								<tr><td>A1.08</td><td>Lineaire Algebra</td></tr>
								<tr><td>A1.10</td><td>Lineaire Algebra</td></tr>
								<tr><td>B0.201</td><td>Lineaire Algebra</td></tr>
								<tr><td>C0.110</td><td>Lineaire Algebra</td></tr>
								<tr><td>C1.112</td><td>Lineaire Algebra</td></tr>
							</table>
						</div>
					</td>
				</tr>
				<tr>
					<td>13:00 - 15:00</td>
					<td>
						<div class = "tableInside">
							<table>
								<tr><td>A1.04</td><td>Lineaire Algebra</td></tr>
								<tr><td>A1.06</td><td>Lineaire Algebra</td></tr>
								<tr><td>A1.08</td><td>Lineaire Algebra</td></tr>
								<tr><td>A1.10</td><td>Lineaire Algebra</td></tr>
								<tr><td>B0.201</td><td>Lineaire Algebra</td></tr>
								<tr><td>C0.110</td><td>Lineaire Algebra</td></tr>
								<tr><td>C1.112</td><td>Lineaire Algebra</td></tr>
							</table>
						</div>
					</td>
					<td>
						<div class = "tableInside">
							<table>
								<tr><td>A1.04</td><td>Lineaire Algebra</td></tr>
								<tr><td>A1.06</td><td>Lineaire Algebra</td></tr>
								<tr><td>A1.08</td><td>Lineaire Algebra</td></tr>
								<tr><td>A1.10</td><td>Lineaire Algebra</td></tr>
								<tr><td>B0.201</td><td>Lineaire Algebra</td></tr>
								<tr><td>C0.110</td><td>Lineaire Algebra</td></tr>
								<tr><td>C1.112</td><td>Lineaire Algebra</td></tr>
							</table>
						</div>
					</td>
					<td>
						<div class = "tableInside">
							<table>
								<tr><td>A1.04</td><td>Lineaire Algebra</td></tr>
								<tr><td>A1.06</td><td>Lineaire Algebra</td></tr>
								<tr><td>A1.08</td><td>Lineaire Algebra</td></tr>
								<tr><td>A1.10</td><td>Lineaire Algebra</td></tr>
								<tr><td>B0.201</td><td>Lineaire Algebra</td></tr>
								<tr><td>C0.110</td><td>Lineaire Algebra</td></tr>
								<tr><td>C1.112</td><td>Lineaire Algebra</td></tr>
							</table>
						</div>
					</td>
					<td>
						<div class = "tableInside">
							<table>
								<tr><td>A1.04</td><td>Lineaire Algebra</td></tr>
								<tr><td>A1.06</td><td>Lineaire Algebra</td></tr>
								<tr><td>A1.08</td><td>Lineaire Algebra</td></tr>
								<tr><td>A1.10</td><td>Lineaire Algebra</td></tr>
								<tr><td>B0.201</td><td>Lineaire Algebra</td></tr>
								<tr><td>C0.110</td><td>Lineaire Algebra</td></tr>
								<tr><td>C1.112</td><td>Lineaire Algebra</td></tr>
							</table>
						</div>
					</td>
					<td>
						<div class = "tableInside">
							<table>
								<tr><td>A1.04</td><td>Lineaire Algebra</td></tr>
								<tr><td>A1.06</td><td>Lineaire Algebra</td></tr>
								<tr><td>A1.08</td><td>Lineaire Algebra</td></tr>
								<tr><td>A1.10</td><td>Lineaire Algebra</td></tr>
								<tr><td>B0.201</td><td>Lineaire Algebra</td></tr>
								<tr><td>C0.110</td><td>Lineaire Algebra</td></tr>
								<tr><td>C1.112</td><td>Lineaire Algebra</td></tr>
							</table>
						</div>
					</td>
				</tr>
				<tr>
					<td>15:00 - 17:00</td>
					<td>
						<div class = "tableInside">
							<table>
								<tr><td>A1.04</td><td>Lineaire Algebra</td></tr>
								<tr><td>A1.06</td><td>Lineaire Algebra</td></tr>
								<tr><td>A1.08</td><td>Lineaire Algebra</td></tr>
								<tr><td>A1.10</td><td>Lineaire Algebra</td></tr>
								<tr><td>B0.201</td><td>Lineaire Algebra</td></tr>
								<tr><td>C0.110</td><td>Lineaire Algebra</td></tr>
								<tr><td>C1.112</td><td>Lineaire Algebra</td></tr>
							</table>
						</div>
					</td>
					<td>
						<div class = "tableInside">
							<table>
								<tr><td>A1.04</td></tr>
								<tr><td>A1.06</td></tr>
								<tr><td>A1.08</td></tr>
								<tr><td>A1.10</td></tr>
								<tr><td>B0.201</td></tr>
								<tr><td>C0.110</td></tr>
								<tr><td>C1.112</td></tr>
							</table>
						</div>
					</td>
					<td>
						<div class = "tableInside">
							<table>
								<tr><td>A1.04</td></tr>
								<tr><td>A1.06</td></tr>
								<tr><td>A1.08</td></tr>
								<tr><td>A1.10</td></tr>
								<tr><td>B0.201</td></tr>
								<tr><td>C0.110</td></tr>
								<tr><td>C1.112</td></tr>
							</table>
						</div>
					</td>
					<td>
						A1.04 <br />
						A1.06 <br />
						A1.08 <br />
						A1.10 <br />
						B0.201 <br />
						C0.110 <br />
						C1.112 <br />
					</td>
					<td>
						<div class = "tableInside">
							<table>
								<tr><td>A1.04</td></tr>
								<tr><td>A1.06</td></tr>
								<tr><td>A1.08</td></tr>
								<tr><td>A1.10</td></tr>
								<tr><td>B0.201</td></tr>
								<tr><td>C0.110</td></tr>
								<tr><td>C1.112</td></tr>
							</table>
						</div>
					</td>
				</tr>
				<tr>
					<td>17:00 - 19:00</td>
					<td>
						<div class = "tableInside">
							<table>
								<tr><td>A1.04</td></tr>
								<tr><td>A1.06</td></tr>
								<tr><td>A1.08</td></tr>
								<tr><td>A1.10</td></tr>
								<tr><td>B0.201</td></tr>
								<tr><td>C0.110</td></tr>
								<tr><td>C1.112</td></tr>
							</table>
						</div>
					</td>
					<td>
						<div class = "tableInside">
							<table>
								<tr><td>A1.04</td></tr>
								<tr><td>A1.06</td></tr>
								<tr><td>A1.08</td></tr>
								<tr><td>A1.10</td></tr>
								<tr><td>B0.201</td></tr>
								<tr><td>C0.110</td></tr>
								<tr><td>C1.112</td></tr>
							</table>
						</div>
					</td>
					<td>
						A1.04 <br />
						A1.06 <br />
						A1.08 <br />
						A1.10 <br />
						B0.201 <br />
						C0.110 <br />
						C1.112 <br />
					</td>
					<td>
						A1.04 <br />
						A1.06 <br />
						A1.08 <br />
						A1.10 <br />
						B0.201 <br />
						C0.110 <br />
						C1.112 <br />
					</td>
					<td>
						A1.04 <br />
						A1.06 <br />
						A1.08 <br />
						A1.10 <br />
						B0.201 <br />
						C0.110 <br />
						C1.112 <br />
					</td>
				</tr>
			</table>
		</div>

		{% endblock %}

	</body>
</html>